<h1>Results: {{student.s_name}}:</h1>
<table>
	<thead>
		<th>Student ID</th>
    	<th>Name</th>
    	<th>Level</th>
    	<th>Group</th>
    	<th>DOB</th>
	</thead>
	<tbody>
	<tr>
		<td>{{student.id}}</td>
		<td>{{student.s_name}}</td>
		<td>{{student.s_level}}</td>
		<td>{{student.s_group}}</td>
		<td>{{student.s_dob}}</td>
	</tr>
	</tbody>
</table>
<h2>Return to <a href="/student">home</a>.</h2>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>